<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rex-Pex</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://kit.fontawesome.com/16d4885483.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="/styles/header.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</head>
<body>
    <div class="screen-overlay"></div>

    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="brand-wrap">
            <a href="#">
                <h1 style="font-style: oblique; font-family: serif; font-size: xx-large;">𝕽𝕰𝕩𝕻𝕰𝕩</h1>
            </a>
        </div>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link " href="/admin/dashboard">
                    <i class="icon fas fa-tags"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/users">
                    <i class="icon fas fa-users"></i>
                    <span class="text">Users</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/category">
                    <i class="icon fas fa-tags"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/brands">
                    <i class="icon fas fa-tags"></i>
                    <span class="text">Brands</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/addProducts">
                    <i class="icon fas fa-tags"></i>
                    <span class="text">Add Products</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/products">
                    <i class="icon fas fa-box"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon fas fa-shopping-cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/getReturnRequest">
                    <i class="icon fas fa-box"></i>
                    <span class="text">Return Orders</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/add-coupon">
                    <i class="icon fas fa-ticket-alt"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/saleReport">
                    <i class="icon fas fa-chart-line"></i>
                    <span class="text">Reports</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/logout">
                    <i class="icon fas fa-sign-out-alt"></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </aside>
    
    <main cl0ass="main-wrap">
        <header class="main-header navbar ">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <!-- <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a> -->
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
